.container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
    .container input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      outline: 1px solid var(--addable-grey, #ECECEE);
      cursor: pointer;
    }

    .container input[type="checkbox"]:hover {
      outline: 1px solid var(--addable-dark-gray, #8C9298);
      transition: all .2s;
    }

    .container input[type="checkbox"]:checked:hover {
      outline: none;
    }
    
    .container input[type="checkbox"]:disabled {
      content: url(../../../public/icons/checked.svg);
      top: 0;
      left: 0;
      background-color: var(--main-yellow);
      position: relative;
      opacity: .6;
      outline: none;
    }
    
    .checked {
      background-color: var(--main-yellow);
      outline: none;
      position: relative;
    }
    
    .checked::before {
      content: url(../../../public/icons/checked.svg);
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
    }
    
    .label {
      font-family: "WixMadeforDisplay";
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    
      color: var(--addable-dark-gray, #8C9298);
    
      cursor: pointer;
    }