.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0 35px;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background: var(--main-white);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 343px;
    margin: 16px auto 0;
}

.title {
    color: var(--main-black, #000);
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.close {
    position: absolute;
    top: 22px;
    right: 24px;
}