@font-face {
 src: url('../public/fonts/Unbounded-Regular.ttf') format('truetype');
 font-family: 'Unbounded';
 font-weight: 400;
}

@font-face {
 src: url('../public/fonts/Unbounded-Medium.ttf') format('truetype');
 font-family: 'Unbounded';
 font-weight: 500;
}

@font-face {
 src: url('../public/fonts/WixMadeforDisplay-Regular.ttf') format('truetype');
 font-family: 'WixMadeforDisplay';
 font-weight: 400;
}

@font-face {
 src: url('../public/fonts/WixMadeforDisplay-Bold.ttf') format('truetype');
 font-family: 'WixMadeforDisplay';
 font-weight: 700;
}
