@import "./vars.scss";
@import "./fonts.scss";

* {
 padding: 0;
 margin: 0;
 border: 0;
}

*,
*:before,
*:after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

:focus,
:active {
 outline: none;
}

a:focus,
a:active {
 outline: none;
}

nav,
footer,
header,
aside {
 display: block;
}

html,
body {
 height: 100%;
 width: 100%;
 font-size: 100%;
 line-height: 1;
 font-size: 14px;
 -ms-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}

body {
 background-color: #f8f8f8;
 overflow-x: hidden;
}

input,
button,
textarea {
 font-family: inherit;
 background: none;
}

input::-ms-clear {
 display: none;
}

button {
 cursor: pointer;
}

button[disabled] {
 cursor: default;
}

button::-moz-focus-inner {
 padding: 0;
 border: 0;
}

a {
    font-family: "WixMadeforDisplay", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: var(--main-white, #FFF);

    cursor: pointer;
}

a,
a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

ul li {
 list-style: none;
}

img {
 vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-size: inherit;
 font-weight: 400;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    color: var(--main-black);
}

h3 {
    font-family: "Unbounded", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

select::-ms-expand {
 display: none;
}

select {
 font: inherit;
 letter-spacing: inherit;
 word-spacing: inherit;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
}

p {
    font-family: "WixMadeforDisplay", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: var(--main-black);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
}
