:root { 
 /* colors */
 --main-white: #fff;
 --main-black: #000;
 --main-yellow: #FFE700;

 --addable-grey: #ECECEE;
 --addable-dark-grey: #8C9298;
 --addable-red: #FF2B2B;
 --addable-red-bg: #FDD7D7;

 --hover-white: #F2F2F2;
 --hover-yellow: #EFCA0B;

 --click-white: #D8D8D8;

 --select-white: #E6E6E6;

 --bg-white: #f8f8f8;
}